@import "./variables";
@import "./mixins";

.formpage {
  justify-content: center !important;
}
form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50vw;
  margin: -10px auto;
  padding: 20px;
  border: 1px solid $white-grey;
  border-radius: 15px;
  background-color: $white;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: $black;
}
.checkboxes {
  font-weight: 450;
  margin-left: 5px;
}
input[type="text"] {
  width: 100%;
  padding: 6px;
  border: 1px solid $white-grey;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="email"] {
  width: 100%;
  padding: 6px;
  border: 1px solid $white-grey;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}
#pais {
  width: 100%;
  padding: 6px;
  border: 1px solid $white-grey;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}
textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid $white-grey;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #4caf50;
  color: $white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  &:hover {
    background-color: $secondaryColor;
  }
}
.checks {
  color: $black;
  font-size: small;
  margin-bottom: 0.5rem;
  display: flex;
}
input[type="checkbox"] {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.content {
  display: flex;
  flex-direction: column;
}
