// Mixins
@mixin no-margin-padding-box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex-justifyend {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-justifycenter {
  display: flex;
  justify-content: center;
}

@mixin flex-alignc {
  display: flex;
  align-items: center;
  align-content: center;
}
