@import "./variables";
@import "./mixins";

//estilos navbar
@media only screen and (max-width: 768px) {
  nav ul {
    display: none;
  }
  .container-fluid {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end !important;
    .navbar-toggler {
      width: 90px;
    }
  }
  .banner {
    margin-top: 4.5rem;
    height: 17rem;
  }
  nav {
    display: block;
    position: absolute;
    .linklogonav {
      z-index: 4;
      position: fixed;
      margin-top: 0.7rem;
    }
  }
  .navmobile {
    display: block;
    position: fixed;
    width: 100%;
    background-color: $black;
    z-index: 2;
    .collapse.show {
      margin-top: 3rem;
    }
  }

  #navmobilelist {
    li {
      display: flex;
      flex-direction: column;
      text-align: center;
      a {
        text-decoration: none;
        color: $white;
        background-color: $black;
        padding: 1rem;
        border-top: solid 0.1px rgb(24, 24, 24);
        border-bottom: solid 0.1px rgb(24, 24, 24);

        &:hover {
          &:not(.active) {
            background-color: rgb(19, 18, 18);
          }
        }
      }
      a.active {
        background-color: $mainColor;
      }
    }
  }
}

//estilos navbar pantallas muy chicas
@media only screen and (max-width: 415px) {
  nav {
    .linklogonav {
      .title_navbarlogo {
        display: none;
      }
    }
  }
}

// Estilos para el banner en teléfonos móvil
@media only screen and (max-width: 1087px) {
  .linklogobanner {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 940px) {
  .linklogobanner {
    display: none;
  }
}

//Estilos para celulares del index
@media only screen and (max-width: 768px) {
  .banner {
    height: 18rem;
  }
  .carousel-item img {
    width: 300px;
    height: 200px;
  }
  .nuestrosservicios {
    .cont_tarjetashome {
      flex-direction: column;
      align-items: center;
      .tarjetahome {
        width: 80vw !important;
        p {
          font-size: 15px;
        }
      }
    }
  }
  .razoneselegirnos {
    display: block;
    margin-bottom: 3rem;
  }
  .imagenesclientes img {
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
//estilos font banner pantallas chicas
@media only screen and (max-width: 376px) {
  .banner .titulo_principal {
    font-size: 1.5rem;
  }
  .slogan {
    font-size: 2rem;
  }
}

//estilos flechas carrousel pantallas chicas
@media only screen and (max-width: 514px) {
  .carousel-control-next,
  .carousel-control-prev {
    width: 15%;
  }
}

//estilos carrousel e imagénes clientes home pantallas muy chicas
@media only screen and (max-width: 410px) {
  .carousel-item img {
    width: 75vw;
    height: 200px;
  }

  .imagenesclientes img {
    width: 80vw;
  }
}

//Pagina Servicios
//Página Servicios para móvil
@media only screen and (max-width: 768px) {
  .textoservicio {
    .iframe {
      display: none;
    }
    .iframecelu {
      display: block;
      text-align: center;
      overflow: hidden;
    }
  }
}

//Página Nosotros para móvil
@media only screen and (max-width: 1110px) {
  .container_cards {
    flex-direction: column;
    .card {
      width: 88vw;
      height: max-content;
    }
  }
  .segundoparrafocard {
    margin-bottom: -1rem;
  }
}

//Página Porfolio para móvil*/

@media only screen and (max-width: 1270px) {
  .collapse.show {
    display: flex;
    flex-wrap: wrap;
  }
  .cardportafolio {
    margin-bottom: 2rem;
  }
}

//Estilos para el formulario de contacto
//estilos para que el formulario se adapte a dispositivos móviles
@media only screen and (max-width: 768px) {
  form {
    width: 75%;
    padding: 1rem;
    margin-top: 10rem;
    form label {
      font-size: 12px;
    }
    form input,
    form textarea {
      font-size: 15px;
      padding: 10px;
    }
    form input[type="submit"] {
      width: 100%;
      height: 1%;
      margin: auto;
    }

    form input[type="checkbox"] {
      width: 40px;
    }
  }

  //estilos página móvil form enviado
  .titulo_form_enviado {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 664px) {
  .checks {
    flex-direction: column;
    align-items: center;
  }
  form input[type="checkbox"] {
    margin: 0.5rem;
    min-width: 40px;
    min-height: 20px;
  }
}

// Estilos para el footer
//estilos para que el footer se adapte a dispositivos móviles
@media only screen and (max-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
  }
}
