@import "./variables";
@import "./mixins";

.navmobile {
  display: none;
  .collapse.show {
    border: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: baseline;
  }
}
nav {
  ul {
    list-style-type: none;
    background-color: $black;
    display: flex;
    justify-content: flex-end;
    li {
      a {
        text-decoration: none;
        color: $white;
        display: flex;
        padding: 1rem;
        overflow: hidden;
        &:hover {
          &:not(.active) {
            background-color: $dark-grey;
          }
        }
      }
      a.active {
        background-color: $mainColor;
      }
    }
  }
}
