@import "./variables";
@import "./mixins";

.textoservicio {
  margin-bottom: 4rem;
}
.iframe {
  text-align: center;
}
.iframecelu {
  display: none;
}
.servicios {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem;
  align-items: center;
  box-shadow: inset 5rem 20rem 20px rgb(0 0 0 / 15%);
}
.serv {
  @include flex-justifycenter;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  margin: 10px;
}

.nuestrosservicios {
  margin-bottom: 2rem;
}

.listaservicios {
  border-style: double;
  border-color: #04aa6d;
  margin-right: 1px;
  li {
    text-align: center;
    overflow: hidden;
    text-decoration: none;
  }
}

.razoneselegirnos {
  margin-bottom: 3rem;
}
