@import "./variables";
@import "./mixins";

p {
  font-family: $pFont;
  margin: 0 1rem 1rem 1rem;
  text-align: justify;
  color: $white;
}

h2 {
  font-family: $titlesFont;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: $mainColor;
}

h3 {
  font-family: $titlesFont;
  text-align: center;
  margin-bottom: 1rem;
  font-size: large;
  color: $mainColor;
}
