$mainColor: #04aa6d;
$secondaryColor:  #45a049;
$border-color_1: rgb(0,128,0);
$grey: #afafaf;
$greenbutton: #04aa6d;
$white-grey:#ccc;
$dark-background: rgb(31, 30, 30);
$black: rgb(0, 0, 0);
$dark-grey: rgb(19, 18, 18);
$white:rgb(255,255,255);
$logobackground:#ADFF2F;
$titlesFont: Georgia, "Times New Roman", Times, serif;
$pFont: Arial, Helvetica, sans-serif;
$cardsTitle:"Playfair Display", sans-serif;


