/* reset estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Estilos para la barra de navegación */

.navmobile {
  display: none;
}

nav ul {
  list-style-type: none;
  background-color: rgb(
    0,
    0,
    0
  ); /* Establecer un color de fondo para la barra de navegación */
  display: flex;
  justify-content: flex-end;
}

nav ul li a {
  text-decoration: none; /* Eliminar el subrayado de los enlaces */
  color: white; /* Establecer color de texto */
  display: flex;
  padding: 1rem;
  overflow: hidden;
}

nav ul li a:hover:not(.active) {
  background-color: rgb(
    19,
    18,
    18
  ); /* Establecer un color de fondo al pasar el cursor sobre los botones */
}

nav ul li a.active {
  background-color: #04aa6d;
}

/* Estilos para el header en teléfonos móvil */
@media only screen and (max-width: 768px) {
  .logo {
    display: none;
  }

  nav ul {
    display: none;
  }

  .container-fluid {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end !important;
  }

  .navbar-toggler {
    width: 90px;
  }

  .navmobile {
    display: inline;
    background-color: black;
    margin-top: 5rem;
  }

  #navmobilelist li {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #navmobilelist li a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 1rem;
  }

  #navmobilelist li a:hover:not(.active) {
    background-color: rgb(
      19,
      18,
      18
    ); /* Establecer un color de fondo al pasar el cursor sobre los botones */
  }

  #navmobilelist li a.active {
    background-color: #04aa6d;
  }
}

main {
  background-color: rgb(31, 30, 30);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #ccc;
}

.banner {
  background-image: url("../Images/green4.jpg");
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-items: flex-start;
  height: 25rem;
  margin-bottom: 2.5rem;
  padding-bottom: 1rem;
}

.banner .logo {
  z-index: 1;
  width: 14rem;
  height: auto;
  background-color: #04aa6d;
  position: absolute;
  right: 0;
  margin-right: 10rem;
  border-style: solid;
  border-color: GREEN;
  opacity: 0.95;
}

.titulo_principal {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  padding-left: 10px;
}

.banner .slogan {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: #04aa6d;
}

.carousel-inner {
  margin-bottom: 2rem;
}

.carousel-item img {
  width: 500px;
  height: 300px;
}

@media (max-width: 768px) {
  .carousel-item img {
    width: 300px;
    height: 200px;
  }
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 1rem 1rem 1rem;
  text-align: justify;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 1rem;
  font-size: large;
  color: #04aa6d;
}

.nuestrosservicios {
  margin-bottom: 2rem;
}

.listaservicios {
  border-style: double;
  border-color: #04aa6d;
  margin-right: 1px;
}

.listaservicios li {
  text-align: center;
  overflow: hidden;
  text-decoration: none;
}

.razoneselegirnos {
  margin-bottom: 3rem;
}

.imagenesclientes {
  text-align: center;
}

.imagenesclientes img {
  padding: 3rem;
  width: 300px;
  height: 250px;
}

/*Estilos para celulares del index */
@media only screen and (max-width: 768px) {
  .bannerindex {
    height: 15rem;
  }

  .imghome {
    width: 15rem;
    height: 15rem;
    display: block;
    margin: 0 auto 2rem;
  }

  .listaservicios {
    border: #04aa6d;
    border-style: double;
  }

  .razoneselegirnos {
    display: block;
    margin-bottom: 3rem;
  }

  .imagenesclientes img {
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

/*Página Nosotros*/

.bannernosotros {
  background-image: url("../Images/GettyImages-645748552.jpg");
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 25rem;
  margin-bottom: 2.5rem;
  margin-top: 0.5rem;
}

/*cards nosotros*/

.container_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-wrap: nowrap;
  background-color: #333;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.05);
  margin: 2rem;
  margin-right: 2.3rem;
  width: 33.33%;
  height: max-content;
}
.card__image {
  display: flex;
  justify-content: center;
}
.card__image img {
  width: 90%;
  width: 200px;
  height: 15rem;
  margin-top: 2rem;
  margin-bottom: -2rem;
  object-fit: cover;
  border-radius: 40px;
}
.card__body {
  flex: 1;
  padding: 1.5rem;
  text-align: center;
}
.card__body p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #afafaf;
}
.card__title {
  font-family: "Playfair Display", sans-serif;
  font-size: 2rem;
  color: #fff;
  --body-color: #afafaf;
}
.card__subtitle {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.card__body p:not(:last-child) {
  margin-bottom: 1.5rem;
}
.card__button {
  display: inline-block;
  text-decoration: none;
  color: #afafaf;
  padding: 1rem 2.5rem;
  margin-top: 1rem;
  border: 2px solid #afafaf;
  border-radius: 6px;
}
.card__button span {
  display: inline-block;
  transition: transform 0.25s;
}
.card__button:hover span {
  transform: translateX(0.75rem);
}

/*Pagina Servicios*/

.textoservicio {
  margin-bottom: 4rem;
}

.iframe {
  text-align: center;
}

.iframecelu {
  display: none;
}

.servicios {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem;
  align-items: center;
  box-shadow: inset 5rem 20rem 20px rgb(0 0 0 / 15%);
}

.serv {
  display: table-cell;
  width: 33.33%;
  text-align: center;
  margin: 10px;
  vertical-align: top;
}

/*Pagina Portafolio*/

.btn.btn-primary {
  margin-top: 2rem;
}

.cardportafolio {
  width: 300px;
  height: 274px;
  background-image: linear-gradient(163deg, #00ff75 0%, rgb(0, 85, 0) 100%);
  border-radius: 20px;
  transition: all 0.3s;
  margin-left: 1rem;
}

.cardportafolio2 {
  width: 300px;
  height: 268px;
  background-color: #1a1a1a;
  transition: all 0.2s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.titulocardsportafolio {
  font-size: 16px;
  margin-bottom: 10px;
}

.textocardsportafolio {
  font-size: 14px;
}

.collapse.show {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border: #00ff75;
  border-style: solid;
  border-width: 0.05rem;
  border-radius: 15px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 0.1rem;
}

.cardportafolio2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.cardportafolio:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

.btn.btn-primary {
  background-color: #04aa6d;
  --bs-btn-active-bg: #055502;
}

#collapseExample3 {
  margin-bottom: 2rem;
}

/*Página Servicios para móvil*/
@media (max-width: 768px) {
  .servicios {
    display: block;
  }
  .serv {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  .iframe {
    display: none;
  }
  .iframecelu {
    display: block;
    text-align: center;
    overflow: hidden;
  }
}

/*Página Nosotros para móvil*/
@media only screen and (max-width: 1326px) {
  .container_cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 88vw;
    height: max-content;
  }
}

/*Página Porfolio para móvil*/

@media (max-width: 1270px) {
  .collapse.show {
    display: flex;
    flex-wrap: wrap;
  }
  .cardportafolio {
    margin-bottom: 2rem;
  }
}

/*Estilos para el formulario de contacto */

/* Estilos form para tamaño de pantalla grande */
.formpage {
  justify-content: center !important;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 40%;
  margin: -10px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #f1f1f1;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

input[type="text"],
input[type="email"],
#pais,
textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.checks {
  color: black;
  font-size: small;
  margin-bottom: 0.5rem;
  display: flex;
}

input[type="checkbox"] {
  margin-left: 1rem;
  display: flex;
  align-items: center;

  padding-left: 1rem;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.content {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: none;
}

/*estilos para que el formulario se adapte a dispositivos móviles*/
@media (max-width: 768px) {
  form {
    width: 75%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 1rem;
    padding-bottom: 2rem;
  }

  form label {
    font-size: 12px;
  }

  form input,
  form textarea {
    font-size: 15px;
    padding: 10px;
  }

  .checks {
    display: none;
  }

  .buttons {
    display: block;
  }

  button {
    background-color: white;
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 0.7rem;
  }

  button:active {
    background-color: #45a049;
  }

  form input[type="submit"] {
    width: 40%;
    height: 1%;
    margin: auto;
  }
}

/* Estilos para el footer */
footer {
  grid-area: footer;
  background-color: black;
  margin-top: auto;
  padding: 1em 0;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

/*estilos para que el footer se adapte a dispositivos móviles*/
@media (max-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
  }
}
