* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.navmobile {
  display: none;
}
.navmobile .collapse.show {
  border: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  justify-content: baseline;
}

.bg-black {
  width: 100%;
}

nav {
  display: inline-flex;
  width: 100%;
  background-color: rgb(0, 0, 0);
  justify-content: flex-end;
  align-items: center;
}
nav .linklogonav {
  position: absolute;
  left: 0;
  margin-left: 1rem;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: #ccc;
}
nav .linklogonav .logo {
  width: 3.5rem;
  height: 50px;
  border-style: solid;
  border-color: rgb(0, 128, 0);
  border-width: 1px;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  padding: 1rem;
  overflow: hidden;
}
nav ul li a:hover:not(.active) {
  background-color: rgb(19, 18, 18);
}
nav ul li a.active {
  background-color: #04aa6d;
}

main {
  background-color: rgb(31, 30, 30);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  color: #ccc;
}

.banner {
  background-image: url("../Images/green4.jpg");
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 25rem;
  margin-bottom: 2.5rem;
}
.banner .titulo_principal {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  padding-left: 10px;
}

.slogan {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  margin-top: 1.5rem;
}

.linklogobanner {
  position: absolute;
  right: 0;
  margin-right: 10rem;
}
.linklogobanner .logo {
  z-index: 1;
  width: 14rem;
  height: auto;
  background-color: #04aa6d;
  border-style: solid;
  border-color: rgb(0, 128, 0);
  opacity: 0.95;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 1rem 1rem 1rem;
  text-align: justify;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: #04aa6d;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 1rem;
  font-size: large;
  color: #04aa6d;
}

.imagenesclientes {
  text-align: center;
}
.imagenesclientes img {
  padding: 3rem;
  width: 300px;
  height: 250px;
}

.carousel-inner {
  margin-bottom: 2rem;
}
.carousel-inner img {
  width: 500px;
  height: 300px;
}

.carousel-control-next, .carousel-control-prev {
  width: 35%;
}

.container_cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.card {
  display: flex;
  flex-wrap: nowrap;
  background-color: #333;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.05);
  margin: 2rem;
  margin-right: 2.3rem;
  width: 33.33%;
  height: max-content;
}

.card__image {
  display: flex;
  justify-content: center;
}
.card__image img {
  width: 90%;
  width: 200px;
  height: 15rem;
  margin-top: 2rem;
  margin-bottom: -2rem;
  object-fit: cover;
  border-radius: 40px;
}

.card__body {
  flex: 1;
  padding: 1.5rem;
  text-align: center;
}
.card__body p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #afafaf;
}
.card__body p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.card__title {
  font-family: "Playfair Display", sans-serif;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  --body-color: $grey;
}

.card__subtitle {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.card__button {
  display: inline-block;
  text-decoration: none;
  color: #afafaf;
  padding: 1rem 2.5rem;
  margin-top: 1rem;
  border: 2px solid #afafaf;
  border-radius: 6px;
}
.card__button span {
  display: inline-block;
  transition: transform 0.25s;
}
.card__button:hover span {
  transform: translateX(0.75rem);
}

.botonesportafolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn.btn-primary {
  margin-top: 2rem;
  background-color: #04aa6d;
  --bs-btn-active-bg: #055502;
  display: flex;
  align-items: center;
  align-content: center;
}

.cardportafolio {
  width: 300px;
  height: 274px;
  background-image: linear-gradient(163deg, #00ff75 0%, rgb(0, 85, 0) 100%);
  border-radius: 20px;
  transition: all 0.3s;
  margin-left: 1rem;
}
.cardportafolio:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

.cardportafolio2 {
  width: 300px;
  height: 268px;
  background-color: #1a1a1a;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.cardportafolio2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.titulocardsportafolio {
  font-size: 16px;
  margin-bottom: 10px;
}

.textocardsportafolio {
  font-size: 14px;
}

.collapse.show {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-around;
  border: #00ff75;
  border-style: solid;
  border-width: 0.05rem;
  border-radius: 15px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 0.1rem;
}

#collapseExample3 {
  margin-bottom: 2rem;
}

.textoservicio {
  margin-bottom: 4rem;
}

.iframe {
  text-align: center;
}

.iframecelu {
  display: none;
}

.servicios {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem;
  align-items: center;
  box-shadow: inset 5rem 20rem 20px rgba(0, 0, 0, 0.15);
}

.serv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  margin: 10px;
}

.nuestrosservicios {
  margin-bottom: 2rem;
}

.listaservicios {
  border-style: double;
  border-color: #04aa6d;
  margin-right: 1px;
}
.listaservicios li {
  text-align: center;
  overflow: hidden;
  text-decoration: none;
}

.razoneselegirnos {
  margin-bottom: 3rem;
}

.formpage {
  justify-content: center !important;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50vw;
  margin: -10px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.checkboxes {
  font-weight: 450;
  margin-left: 5px;
}

input[type=text] {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email] {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}

#pais {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4caf50;
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background-color: #45a049;
}

.checks {
  color: rgb(0, 0, 0);
  font-size: small;
  margin-bottom: 0.5rem;
  display: flex;
}

input[type=checkbox] {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: rgb(0, 0, 0);
  margin-top: auto;
  padding: 1em 0;
  text-align: center;
  width: 100%;
}
footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  nav ul {
    display: none;
  }
  .banner {
    margin-top: 4.5rem;
  }
  .container-fluid {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end !important;
  }
  .navbar-toggler {
    width: 90px;
  }
  nav {
    display: block;
    position: absolute;
  }
  nav .linklogonav {
    z-index: 4;
    position: fixed;
    margin-top: 0.7rem;
  }
  .navmobile {
    display: block;
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 2;
  }
  .navmobile .collapse.show {
    margin-top: 3rem;
  }
  #navmobilelist li {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #navmobilelist li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    border-top: solid 0.1px rgb(24, 24, 24);
    border-bottom: solid 0.1px rgb(24, 24, 24);
  }
  #navmobilelist li a:hover:not(.active) {
    background-color: rgb(19, 18, 18);
  }
  #navmobilelist li a.active {
    background-color: #04aa6d;
  }
}
@media only screen and (max-width: 415px) {
  nav .linklogonav .title_navbarlogo {
    display: none;
  }
}
@media only screen and (max-width: 1087px) {
  .linklogobanner {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 940px) {
  .linklogobanner {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .bannerindex {
    height: 15rem;
  }
  .carousel-item img {
    width: 300px;
    height: 200px;
  }
  .listaservicios {
    border: #04aa6d;
    border-style: double;
  }
  .razoneselegirnos {
    display: block;
    margin-bottom: 3rem;
  }
  .imagenesclientes img {
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 376px) {
  .banner .titulo_principal {
    font-size: 1.5rem;
  }
}
.slogan {
  font-size: 1rem;
}

@media only screen and (max-width: 514px) {
  .carousel-control-next,
  .carousel-control-prev {
    width: 15%;
  }
}
@media only screen and (max-width: 410px) {
  .carousel-item img {
    width: 75vw;
    height: 200px;
  }
  .imagenesclientes img {
    width: 80vw;
  }
}
@media only screen and (max-width: 768px) {
  .servicios {
    display: block;
  }
  .serv {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  .iframe {
    display: none;
  }
  .iframecelu {
    display: block;
    text-align: center;
    overflow: hidden;
  }
}
@media only screen and (max-width: 1326px) {
  .container_cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 88vw;
    height: max-content;
  }
}
@media only screen and (max-width: 1270px) {
  .collapse.show {
    display: flex;
    flex-wrap: wrap;
  }
  .cardportafolio {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  form {
    width: 75%;
    padding: 1rem;
    margin-top: 10rem;
  }
  form label {
    font-size: 12px;
  }
  form input,
  form textarea {
    font-size: 15px;
    padding: 10px;
  }
  .checks {
    display: flex;
  }
  form input[type=submit] {
    width: 100%;
    height: 1%;
    margin: auto;
  }
  form input[type=checkbox] {
    width: 40px;
  }
}
@media only screen and (max-width: 442px) {
  .checks {
    flex-direction: column;
    align-items: center;
  }
  form input[type=checkbox] {
    margin: 0.5rem;
    min-width: 40px;
    min-height: 20px;
  }
}
@media only screen and (max-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
